strict_env

mkdir -p local/direnv

IFS=$'\n' local files_to_watch=($(find . -name '*.nix' -o -name '*.cabal' -o -name 'flake.lock'))
watch_file "${files_to_watch[@]}"

# Source cached environment and treat some environment variables
# especially.
local user_path="${PATH:-}"
local user_xdg_data_dirs="${XDG_DATA_DIRS:-}"

use flake

export PATH="$PATH:$user_path"
export XDG_DATA_DIRS="${XDG_DATA_DIRS:-}:$user_xdg_data_dirs"

watch_file "${files_to_watch[@]}"
