# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    
    - uses: cachix/install-nix-action@v17
      with:
        install_url: https://releases.nixos.org/nix/nix-2.8.1/install
        nix_path: nixpkgs=channel:nixos-unstable
        extra_nix_config: |
          substituters = https://cache.nixos.org https://mzabani.cachix.org https://hydra.iohk.io
          trusted-public-keys = hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ= mzabani.cachix.org-1:wnkKakfl+rbT7zTtV1P1tAtjBTuh6GQVX7LfSd9sMbA= cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY=

    - uses: cachix/cachix-action@v10
      with:
        name: mzabani
        skipPush: true
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

    # Wish this could be done, but there's a permissions problem. See https://github.com/actions/cache/issues/133
    # - name: Nix Store Caching
    #   uses: actions/cache@v2
    #   with:
    #     path: /nix/
    #     key: ${{ runner.os }}-build

    # - name: Print nix.conf file
    #   run: cat ~/.config/nix/nix.conf

    - name: Build codd
      env:
        CACHIX_AUTH_TOKEN: ${{ secrets.CACHIX_AUTH_TOKEN }}
      # Note: this still seems not to work.. it doesn't push anything to cachix :(
      run: nix build --no-link . | ([[ ! "$CACHIX_AUTH_TOKEN" = "" ]] && cachix push mzabani || cat -)

    - name: Build codd with aeson 1
      run: nix build --no-link .#flakeAeson1.x86_64-linux.defaultPackage

    - name: Build codd's tests
      run: nix build --no-link .#codd:test:codd-test

    - name: Build benchmarks
      run: nix build --no-link .#codd:bench:codd-bench

    - name: Run tests
      run: ./scripts/run-tests.sh --with-nix

    - name: Run benchmarks
      run: nix run .#codd:bench:codd-bench
      env:
        EXPECTED_BENCHMARK_FILE: bench/expected-perf/ci.json

    - name: Build codd's library's haddocks
      run: nix build --no-link .#packages.x86_64-linux.codd:lib:codd.doc

    - name: Build codd docker image
      run: nix build --no-link .#dockerImage.x86_64-linux
